[Unit]
Description=SDAC Discord Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=__APP_USER__
WorkingDirectory=__APP_DIR__
EnvironmentFile=__APP_DIR__/.env
ExecStart=__APP_DIR__/venv/bin/python __APP_DIR__/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
