# Copy this file to .env, then fill in the values.
# The Ubuntu installer script can create .env for you.

DISCORD_TOKEN=
SDAC_ADMIN_KEY=ImTheBestAdmin
SDAC_ADMIN_PASSWORD=
SDAC_SECRET_KEY=
PYTHONUNBUFFERED=1
